.app-header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.app-logo {
  height: 32px;
  width: auto;
  opacity: 0.9;
  filter: brightness(0) invert(1);
}

main {
  width: 100%;
  height: 100vh;
  padding-top: 60px; /* Matched to header height */
}
